*{padding:0px 0px 0px 0px;margin: 0px 0px 0px 0px;}

.rut-h4{
    color:#fff;
    font-family:Raleway-Light;
    font-size:15px;
    font-weight: 500;
}
.rut-p{
    color:#fff;
    font-family:Raleway-Light;
    font-size:13px;
    font-weight: 500;
}

.rut{
    height:100%;
}

body.rut{
    display: flex;
    flex-direction: column;
    background: #232323;
    overflow: hidden;
}

.rut-main-top-container{
    width:100%;
    height:28px;
    background: #19191A;
    -webkit-app-region: drag;
    display: flex;
    box-sizing: border-box;
	padding:0px 10px;
	justify-content: space-between;
}

.rut-main-top-container nav{
	display: flex;
	align-items: center;
}

.rut-logo{
	width:16px;
	height:16px;
	background:url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.rut-main-top-container nav>ul{
	display: block;
	margin-left:20px;
	-webkit-app-region: no-drag;
}

.rut-main-top-container nav>ul>li{
	display: inline-block;
	color:#fff;
	margin-left:12px;
	font-family:Raleway;
	font-size:12px;
	cursor: pointer;
	box-sizing: border-box;
	padding:3px 5px;
	transition: .2s;
	border-radius: 5px;
    position: relative;
}
.rut-sub-menu{
    position: absolute;
    top:20px;
    background: #19191A;
    padding: 10px;
    display: block;
    min-width:205px;
    width:auto;
    z-index: 1103;
    transition: .4s;
    transform: scaleY(0);
    transform-origin: top;
}
.rut-sub-menu>li{
    list-style-type: none;
    display: block;
    padding:8px;
    transition: .2s;
    border-radius: 5px;
    position: relative;
}
.rut-hotkey{
    font-size:8px;
    position: absolute;
    right:5px;
    color:#d5d5d5;
}
.rut-sub-menu>li:hover{
    background:rgba(44, 44, 45, .8);
}
.rut-main-top-container nav>ul>li:hover{
	background:rgba(44, 44, 45, .8);
}
.rut-main-top-container nav>ul>li:hover>.rut-sub-menu{
    transform: scale(1);
}
.rut-main-top-container nav>ul li:first-child{
	margin-left:0px;
}

.rut-window-controlls{
	display: flex;
	align-items: center;
	-webkit-app-region: no-drag;
	cursor: pointer;
}
.rut-window-controlls div{
	margin-left:15px;
	transition: .2s;
	box-sizing: border-box;
	float: left;
	padding:3px;
	border-radius: 5px;
}
.rut-window-controlls div:hover{
	background:rgba(44, 44, 45, .8);
}
.rut-project-pannel-container{
	width:1100px;
	margin:0 auto;
	height:32px;
	background: #19191A;
	clip-path: polygon(0 0, 100% 0, 100% 62%, 99% 100%, 1% 100%, 0% 62%);
    display: flex;
    padding:0px 15px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.rut-rut-project-pannel-line{
    width:20%;
    left:40%;
    top:-1px;
    position: absolute;
    border:1px solid #454647;
}
.rut-project-pannel-container span{
    color:#fff;
    font-family:Raleway-Light;
    font-size: 11px;
}
.rut-display-mode-container{
    min-width:250px;
    width:auto;
    margin:0 auto;
    margin-top:27px;
    margin-bottom:27px;
    display: flex;
    transition: .4s;
    position: relative;
    z-index: 1005;
    bottom:0;
}
.rut-display-mode{
    width:50%;
    height:100%;
    background: #19191A;
    cursor: pointer;
    transition: .2s;
    text-align: center;
    padding:5px;
}
.rut-display-mode-inv{
    opacity: .2;
    bottom:55px;
    transform: scale(.8);
}
.rut-display-mode:hover{
    background: #71AAEB;
}
.rut-display-mode-active{
    background: #71AAEB;
}
.rut-display-mode-editing{
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0% 38%);
}
.rut-display-mode-preview{
    clip-path: polygon(100% 0, 100% 62%, 90% 100%, 0 99%, 0 0);
}
.rut-display-mode span{
    color:#fff;
    font-size:12px;
    font-family:Roboto;
    text-align: center;
}
.rut main{
    width:100%;
    height:75%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.rut-toolbar-container{
    width:48px;
    height:auto;
    padding:25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
}
.rut-toolbar-container::before{
    content: '';
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index: 1;
    position: absolute;
    background: rgba(25, 25, 26, .8);
    clip-path: polygon(50% 0%, 80% 0, 100% 5%, 100% 95%, 80% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
}
.rut-workspace-wrapper{
    height:100%;
    min-width:1170px;
    width:80%;
    background: #5d5f61;
    margin:0 auto;
    overflow: auto;
}
.rut-workspace-container{
    height:100%;
    width:1170px;
    margin:0 auto;
    box-sizing: border-box;
    background: #fff;
    overflow: auto;
    transform: scale(1);
    padding:3px;
    cursor: alias;
    display: none;
}
.rut-dockers-container{
    background:rgba(25, 25, 26, .8);
    position: relative;
    z-index: 999;
}
.rut-dockers-item{
    writing-mode: tb-rl;
    color:#fff;
    padding:8px;
    font-size:14px;
    font-family:Raleway-Light;
    cursor: pointer;
    transition: .2s;
    position: relative;
}
.rut-dockets-item-active{
    background:#71AAEB;
}
.rut-dockers-item:hover{
    background:#71AAEB;
}
.rut-toolbar-container>ul{
    display: block;
    position: relative;
    z-index: 2;
}
.rut-toolbar-container>ul>li{
    display: block;
    width:40px;
    height:40px;
    margin-top:10px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    border-radius: 5px;
}
.rut-toolbar-container>ul>li:hover{
    background: #71AAEB;
}
.rut-toolbar-container>ul>li:not(.root-tool):hover .rut-toolbar-item-hint{
    transform: scale(1);
}

.rut-toolbar-container>ul>li:first-child{
    margin-top:0px;
}
.rut-toolbar-item-expandable::after{
    content: '';
    display: block;
    position: absolute;
    right:3px;
    bottom:3px;
    width:5px;
    height:5px;
    background:#fff;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}
.rut-toolbar-item-hint{
    position: absolute;
    background: rgba(25, 25, 26, .8);
    width:230px;
    padding:8px;
    left:60px;
    top:0px;
    clip-path: polygon(95% 0, 100% 13%, 100% 100%, 0 100%, 0 0);
    transform: scale(0);
    transition: .3s;
    transform-origin: left;
}
.rut-project-pannel-container span ul li{
    display: inline-block;
    list-style-type: none;
    margin:0px 5px;
    padding:4px;
    cursor: pointer;
    transition: .2s;
    box-sizing: border-box;
}
.rut-project-pannel-container span ul li:hover{
    background: rgba(44, 44, 45, .8);
    border-radius: 5px;
}
.rut-sub-toolbar-submenu{
    position: absolute;
    left:50px;
    top:0;
    background:rgba(25, 25, 26, .8);
    display: none;
    width:auto;
}
.rut-sub-toolbar-submenu li{
    list-style-type: none;
    padding:6px;
    color:#fff;
    font-family: Raleway-Light;
    font-size:13px;
    width:120px;
}
.rut-sub-toolbar-submenu li:hover{
    background:#71AAEB;
}
.rut-sub-toolbar-submenu:hover+.rut-toolbar-item-hint{
    display: none;
}
.rut-toolbar-item-active{
    background: #71AAEB;
}
.rut-workspace-container .rut-display{
    outline:1px dashed #c2c2c2;
    padding-top:6px;
    padding-bottom:6px;
    min-height:1px;
    box-sizing: border-box;
}
.rut-workspace-container .rut-display:hover{
    outline: 1px solid #3b97e3;
}
.rut-workspace-container .rut-element-selected{
    outline: 2px solid #3b97e3;
}
.rut-workspace-container table.rut-dynamic{
    padding:3px;
    border-collapse:separate; 
    border-spacing: 0 1em;
    min-width:100px;
}
.rut-workspace-container td.rut-dynamic, .rut-workspace-container th.rut-dynamic{
    padding:3px;
}
.rut-dockers-item-inner-container{
    position: absolute;
    min-width:230px;
    width:auto;
    max-height:400px;
    overflow-x: auto;
    right:32px;
    box-sizing: border-box;
    padding-bottom:20px;
    background:rgba(25, 25, 26, .8);
    top:0;
    writing-mode:horizontal-tb;
    padding-bottom: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%, 0 97%);
}
.rut-dockers-item-inner-container::-webkit-scrollbar, .rut-class-window-container::-webkit-scrollbar, .rut-class-properties-container::-webkit-scrollbar{
    display: block;
    width:8px;
    overflow: auto;
    background: #313641;
}
.rut-dockers-item-inner-container::-webkit-scrollbar-thumb, .rut-class-window-container::-webkit-scrollbar-thumb, .rut-class-properties-container::-webkit-scrollbar-thumb{
    background: #272A30;
}
.rut-dockets-properties-split{
    width:100%;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
}
.rut-h4-tools-group-title{
    font-family: Raleway-Regular;
    font-size:15px;
}
.rut-tools-group{
    margin-top:10px;
}
.rut-tools-group:first-child{
    margin-top: 0;
}
.rut-element-properties-value{
    color:#fff;
    font-family:Raleway-Light;
    list-style: none;
    display: block;
    background: #382039;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}
.rut-dockets-proteprties-item{
    width: 50%;
    box-sizing: border-box;
    padding:0px 0px 10px 0px;
}
.rut-inner-controls, .rut-controls-button-like{
    background: #5d5f61;
    padding: 4px;
    box-sizing: border-box;
    color:#fff;
    font-family: Raleway-Light;
    border: 0;
    outline: 0;
    border-radius:5px;
    margin-top:4px;
    font-size:14px;
    display: inline-block;
    transition: .3s;
    box-sizing: border-box;
}
.rut-specified-select{
    min-width:160px;
    width:auto;
}
[type='button'].rut-inner-controls{
    cursor: pointer;
    text-align: center;
    padding:6px;
}
[type='button'].rut-inner-controls:hover,.rut-controls-button-like:hover{
    background:#71AAEB;
}
.rut-inner-controls:focus{
    border:1px solid #71AAEB;
}
.rut-controls-button-like{
    cursor: pointer;
    text-align: center;
}
.rut-input-short{
    width:80px;
}
.rut-default-hidden{
    display: none;
}
.rut-dockers-property-small-value{
    width:25px;
    position: relative;
}
.rut-item-opertaions-container{
    position: absolute;
    width:60px;
    height:auto;
    background: rgba(25, 25, 26, .8);
    display: flex;
    z-index: 999;
}
.rut-item-opertaions-container>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    padding-bottom: 5px;
    float:left;
}
.rut-item-opertaions-container>ul>li{
    text-align: center;
    margin:0 auto;
    transition: .2s;
    cursor: pointer;
    width:24px;
    height:24px;
    list-style-type: none;
    margin-top:5px;
    box-sizing: border-box;
    padding-top:4px;
    border-radius: 5px;
}
.rut-item-opertaions-container>ul>li:hover{
    background: rgba(25, 25, 26, 1);
}
.rut-workspace-container a.rut-dynamic{
    display: inline-block;
    padding:4px;
}
.rut-item-text-editor-container{
    position: absolute;
    min-height:30px;
    width:auto;
    background: rgba(25, 25, 26, .8);
    display: none;
    box-sizing: border-box;
    padding:3px;
}
.rut-workspace-width-container{
    margin: 0 auto;
    width:80%;
    text-align: center;
    margin-top:5px;
    padding-left:10px;
}
.rut-inner-controls-light{
    background: #5d5f61;
}
.rut-docker-prop-group-header{
    width:100%;
    box-sizing: border-box;
    background:rgba(25, 25, 26, .8);
    padding:6px;
    display: flex;
    align-items: center;
}
.rut-docker-prop-group-body{
    width:100%;
    border-left:6px solid background:rgba(25, 25, 26, .8);
    padding-bottom: 10px;
    display: none;
}
.rut-docker-prop-item-container{
    display: flex;
    box-sizing: border-box;
    padding:10px 0px 0px 10px;
    align-items: center;
    flex-wrap: wrap;
}
.rut-docker-prop-item-input,.rut-docker-prop-item-title{
    width:50%;
}
.rut-prop-group-expander{
    margin-right: 8px;
    cursor: pointer;
}
.rut-symbol-reversed{
    transform: rotate(90deg);
}
.rut-dockers-item-inner-container{
    display: none;
}
.rut-docker-prop-main-header{
    width:100%;
    box-sizing: border-box;
    padding:10px;
    position: relative;
    background:rgba(25, 25, 26, .8);
}
.rut-close-docker-pannel{
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}
.rut-window-wrapper{
    position: fixed;
    width:100vw;
    height:95vh;
    top:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1101;
}
.rut-class-window-container{
    width:550px;
    max-height: 500px;
    background: rgba(25, 25, 26, .9);
    padding:25px;
    position: relative;
}
.rut-class-window-item-container{
    width:100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.rut-class-window-item{
    height: 100%;
    margin-top:12px;
    width:50%;
}
.rut-new-class-prop{
    margin-left:12px;
}
.rut-class-remove-prop{
    cursor: pointer;
}
.rut-status{
    color:#fff;
    font-size:14px;
    font-family:Raleway-Light;
}
.rut-class-window-close{
    position: absolute;
    right:12px;
    top:12px;
    cursor: pointer;
}
.rut-item-operation{
    transition: .4s;
}
.rut-preview-wrapper{
    position: absolute;
    width:100%;
    top:28px;
    height: auto;
    z-index: 1001;
    display: none;
}
.rut-preview{
    background: #fff;
    overflow: auto;
}

.rut-class-list-item,.rut-element-class-list-container{
    list-style-type: none;
    color:#fff;
    font-size:14px;
    font-family:Raleway-Light;
    display: block;
    padding:10px 0px 10px 10px;
    width:100%;
    position: relative;
}
.rut-element-class-list-container{
    padding:10px 0px;
    margin-top:7px;
}
.rut-class-list-item-operation-container{
    position: absolute;
    right:10px;
    top:13px;
    cursor: pointer;
}
.rut-class-list-item>span{
    display: block;
    width:90%;
}
.rut-element-class-delete{
    cursor: pointer;
}
.rut-class-properties-container{
    overflow-y: scroll;
    max-height: 220px;
}
.rut-select-page{
    cursor: pointer;
}
.rut-notification-container{
    position: absolute;
    z-index: 2000;
    left:0px;
    top:71px;
    height:35px;
    min-width:50px;
    width:auto;
    color:#fff;
    font-family:Raleway-Light;
    font-size:15px;
    background: rgba(25, 25, 26, 1);
    display: none;
}
.rut-notification-progress{
    position: absolute;
    bottom:0;
    width:100%;
    height:1px;
    background: #71AAEB;
    left:0;
    animation:3.1s notification-progress linear;
}
.rut-notification{
    position: relative;
    width:100%;
    height:100%;
}
.rut-notification-text{
    padding:10px;
}
.rut-move-pointer{
    width:100%;
    height:2px;
    position: absolute;
    background: #62c462;
    z-index: 999;
}
.rut-start-window-wrapper{
    position: fixed;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:28px;
    z-index: 1100;
    background: rgba(25, 25, 26, 0.5);
}
.rut-start-window-container{
    background: rgba(25, 25, 26, 0.8);
    box-shadow:         5px 5px 19px 0px rgba(25, 25, 26, 0.68);
    width:320px;
    height:400px;
    padding:15px;
    position: relative;
}
.rut-start-window-logo{
    width:64px;
    margin:0 auto;
}
.rut-h1{
    color:#fff;
    font-weight:400;
    font-family:Raleway-Light;
    font-size:21px;
    text-align: center;
}
.rut-start-window-menu{
    display: block;
    margin-top:20px;
}
.rut-start-window-menu>li{
    color:#fff;
    font-family:Raleway-Light;
    font-size:14px;
    list-style: none;
    text-align: left;
    padding-top:15px;
    padding-left:20px;
    cursor: pointer;
    transition: .3s;
}
.rut-start-window-menu>li:hover{
    color:#71AAEB;
}
.rut-start-window-credits{
    color:#fff;
    text-align:center;
    position:absolute;
    bottom:20px;
    width:92%;
}
.rut-link{
    text-decoration: none;
    color:#fff;
    font-family:Raleway;
    font-size:13px;
}
.rut-loading{
    position: fixed;
    width:200px;
    height:200px;
    z-index: 2000;
    background: url(../images/loader.svg) #19191A;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.rut-element-type-container{
    background:#71AAEB;
    padding:4px;
    position: absolute;
    color:#fff;
    font-family: Raleway-Light;
    font-size:12px;
    display: none;
}
.rut-user-name{
    font-size:10px;
    color:#fff;
    font-family: Raleway-Light;
    position:absolute;
    right:140px;
    text-align: right;
}
.cloud-projects{
    display:none;
}
.rut-user-exit{
    position: absolute;
    right:122px;
    display: none;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
.rut-menu-open-cloud-project{
    display: none;
}

*:not(.rut-woskrpace-container){
     -webkit-user-select: none;
}
.rut-cloud-load-wrapper{
    position:fixed;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    display: none;
}
.rut-cloud-loading{
    width:100px;
    height:100px;
    background-color:rgba(25, 25, 26, 0.8);
    box-shadow:5px 5px 19px 0px rgba(25, 25, 26, 0.68);
    background-image: url(../images/loader.svg);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.rut-cloud-project-selected{
    background:#71AAEB;
}






@keyframes notification-progress{
    from{
        width:100%;
    }
    to{
        width:0;
    }
}
@keyframes rut-op-active{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}



@media(max-width:1280px){
    .rut-dockers-container, .rut-toolbar-container{
        position: fixed;
    }
    .rut-dockers-container{
        right:0;
    }
}